In [4]:
# merging csvs
import pandas as pd
import os
import pymysql
from pandas import DataFrame
from pandas.io import sql
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float

In [5]:
hotel = pd.read_csv("../csvs/hotel_info") 
rental = pd.read_csv("../csvs/rental_rooms") 
restaurants = pd.read_csv("../csvs/restaurant_ratings")

In [6]:
engine = create_engine('sqlite://', echo=False)

In [7]:
# cleaning up data
hotel = hotel[['hotel_names', 'hotel_prices']].copy()
rental = rental[['Rental Room', 'Rental Price']].copy()
restaurants = restaurants[['Restaurant','Ratings']].copy()

In [8]:
# database in memory

In [9]:
hotel.to_sql('hotels', con=engine)
rental.to_sql('rentals', con=engine)
restaurants.to_sql('restaurants', con=engine)

In [10]:
engine.execute("SELECT * FROM hotels").fetchall()

[(0, 'Holiday Inn Express Waikiki', 'C$227'),
 (1, 'Hotel La Croix', 'C$198'),
 (2, 'The Modern Honolulu', 'C$313'),
 (3, 'Outrigger Waikiki Beach Resort', 'C$328'),
 (4, 'Vive Hotel Waikiki', 'C$250'),
 (5, 'Hilton Waikiki Beach', 'C$245'),
 (6, 'Holiday Inn Express Waikiki', 'C$227'),
 (7, 'Shoreline Hotel Waikiki', 'C$211'),
 (8, 'Hyatt Regency Waikiki Beach Resort & Spa', 'C$290'),
 (9, 'â€˜Alohilani Resort Waikiki Beach', 'C$322'),
 (10, 'Park Shore Waikiki', 'C$190'),
 (11, 'Hyatt Place Waikiki Beach', 'C$232'),
 (12, 'Coconut Waikiki Hotel', 'C$213'),
 (13, 'Aqua Oasis', 'C$185'),
 (14, 'Hyatt Centric Waikiki Beach', 'C$264'),
 (15, 'Outrigger Reef Waikiki Beach Resort', 'C$264'),
 (16, 'Moana Surfrider, A Westin Resort & Spa, Waikiki Beach', 'C$393'),
 (17, 'The Surfjack Hotel & Swim Club', 'C$247'),
 (18, 'Embassy Suites by Hilton Waikiki Beach Walk', 'C$401'),
 (19, 'Waikiki Resort Hotel', 'C$178'),
 (20, 'Waikiki Beachcomber by Outrigger', 'C$290'),
 (21, 'Royal Grove Hotel', 'C$131'),
 (22, 'Luana Waikiki Hotel & Suites', 'C$237'),
 (23, 'Ilikai Hotel & Luxury Suites', 'C$321'),
 (24, 'The New Otani Kaimana Beach Hotel', 'C$297'),
 (25, 'Hilton Garden Inn Waikiki Beach', 'C$231'),
 (26, 'Lotus Honolulu at Diamond Head', 'C$207'),
 (27, 'Sheraton Waikiki', 'C$573'),
 (28, 'The Kahala Hotel & Resort', 'C$664'),
 (29, 'Trump International Hotel Waikiki', 'C$528'),
 (30, 'The Ritz-Carlton Residences, Waikiki Beach', 'C$597')]

In [11]:
import mysql.connector

# Setup MySQL connection
db = mysql.connector.connect(
    host="<IP>",              # your host, usually localhost
    user="<USER>",            # your username
    password="<PASS>",        # your password
    database="<DATABASE>"     # name of the data base
)   

# You must create a Cursor object. It will let you execute all the queries you need
cur = db.cursor()

# Use all the SQL you like
cur.execute("SELECT * FROM <TABLE>")

# Put it all to a data frame
sql_data = pd.DataFrame(cur.fetchall())
sql_data.columns = cur.column_names

# Close the session
db.close()

# Show the data
print(sql_data.head())

ModuleNotFoundError: No module named 'mysql'