In [17]:
# merging csvs
import pandas as pd
import os
import pymysql

In [5]:
hotel = pd.read_csv("../csvs/hotel_info") 
rental = pd.read_csv("../csvs/rental_rooms") 
restaurants = pd.read_csv("../csvs/restaurant_ratings")

In [19]:
host = os.getenv('MYSQL_HOST')
port = os.getenv('MYSQL_PORT')
user = os.getenv('MYSQL_USER')
password = os.getenv('1996315qiao')
database = os.getenv('1996315qiao')

In [24]:
conn = pymysql.connect(
    host=host,
    port=int(3306),
    user="root",
    passwd='1996315qiao',
    db="trip_to_hawaii",
    charset='utf8mb4')