In [45]:
# merging csvs
import pandas as pd
import os
import pymysql
from pandas.io import sql
import sqlalchemy

In [5]:
hotel = pd.read_csv("../csvs/hotel_info") 
rental = pd.read_csv("../csvs/rental_rooms") 
restaurants = pd.read_csv("../csvs/restaurant_ratings")

In [19]:
host = os.getenv('MYSQL_HOST')
port = os.getenv('MYSQL_PORT')
user = os.getenv('MYSQL_USER')
password = os.getenv('1996315qiao')
database = os.getenv('1996315qiao')

In [24]:
# connection
conn = pymysql.connect(
    host=host,
    port=int(3306),
    user="root",
    passwd='1996315qiao',
    db="trip_to_hawaii",
    charset='utf8mb4')

In [27]:
# make database
conn.cursor().execute('create database trip_to_hawaii')

1

In [37]:
# cleaning up data
hotel = hotel[['hotel_names', 'hotel_prices']].copy()
rental = rental[['Rental Room', 'Rental Price']].copy()
restaurants = restaurants[['Restaurant','Ratings']].copy()

In [ ]:
# https://stackoverflow.com/questions/16476413/how-to-insert-pandas-dataframe-via-mysqldb-into-database