In [4]:
# merging csvs
import pandas as pd
import os
import pymysql
from pandas import DataFrame
from pandas.io import sql
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float

In [5]:
hotel = pd.read_csv("../csvs/hotel_info") 
rental = pd.read_csv("../csvs/rental_rooms") 
restaurants = pd.read_csv("../csvs/restaurant_ratings")

In [6]:
engine = create_engine('sqlite://', echo=False)

In [7]:
# cleaning up data
hotel = hotel[['hotel_names', 'hotel_prices']].copy()
rental = rental[['Rental Room', 'Rental Price']].copy()
restaurants = restaurants[['Restaurant','Ratings']].copy()

In [8]:
# database in memory

In [9]:
hotel.to_sql('hotels', con=engine)
rental.to_sql('rentals', con=engine)
restaurants.to_sql('restaurants', con=engine)

In [10]:
a = engine.execute("SELECT * FROM hotels").fetchall()
b = pd.DataFrame(a)
c = engine.execute("SELECT * FROM rentals").fetchall()
e = pd.DataFrame(c)
d = engine.execute("SELECT * FROM restaurants").fetchall()
f = pd.DataFrame(d)
print(b)
print(e)
print(f)

[(0, 'Holiday Inn Express Waikiki', 'C$227'),
 (1, 'Hotel La Croix', 'C$198'),
 (2, 'The Modern Honolulu', 'C$313'),
 (3, 'Outrigger Waikiki Beach Resort', 'C$328'),
 (4, 'Vive Hotel Waikiki', 'C$250'),
 (5, 'Hilton Waikiki Beach', 'C$245'),
 (6, 'Holiday Inn Express Waikiki', 'C$227'),
 (7, 'Shoreline Hotel Waikiki', 'C$211'),
 (8, 'Hyatt Regency Waikiki Beach Resort & Spa', 'C$290'),
 (9, '‘Alohilani Resort Waikiki Beach', 'C$322'),
 (10, 'Park Shore Waikiki', 'C$190'),
 (11, 'Hyatt Place Waikiki Beach', 'C$232'),
 (12, 'Coconut Waikiki Hotel', 'C$213'),
 (13, 'Aqua Oasis', 'C$185'),
 (14, 'Hyatt Centric Waikiki Beach', 'C$264'),
 (15, 'Outrigger Reef Waikiki Beach Resort', 'C$264'),
 (16, 'Moana Surfrider, A Westin Resort & Spa, Waikiki Beach', 'C$393'),
 (17, 'The Surfjack Hotel & Swim Club', 'C$247'),
 (18, 'Embassy Suites by Hilton Waikiki Beach Walk', 'C$401'),
 (19, 'Waikiki Resort Hotel', 'C$178'),
 (20, 'Waikiki Beachcomber by Outrigger', 'C$290'),
 (21, 'Royal Grove Hotel', 'C$131'),
 (22, 'Luana Waikiki Hotel & Suites', 'C$237'),
 (23, 'Ilikai Hotel & Luxury Suites', 'C$321'),
 (24, 'The New Otani Kaimana Beach Hotel', 'C$297'),
 (25, 'Hilton Garden Inn Waikiki Beach', 'C$231'),
 (26, 'Lotus Honolulu at Diamond Head', 'C$207'),
 (27, 'Sheraton Waikiki', 'C$573'),
 (28, 'The Kahala Hotel & Resort', 'C$664'),
 (29, 'Trump International Hotel Waikiki', 'C$528'),
 (30, 'The Ritz-Carlton Residences, Waikiki Beach', 'C$597')]

In [19]:
result = pd.concat([b, e, f])

In [20]:
print(result)

     0                                                  1                2
0    0                        Holiday Inn Express Waikiki            C$227
1    1                                     Hotel La Croix            C$198
2    2                                The Modern Honolulu            C$313
3    3                     Outrigger Waikiki Beach Resort            C$328
4    4                                 Vive Hotel Waikiki            C$250
5    5                               Hilton Waikiki Beach            C$245
6    6                        Holiday Inn Express Waikiki            C$227
7    7                            Shoreline Hotel Waikiki            C$211
8    8           Hyatt Regency Waikiki Beach Resort & Spa            C$290
9    9                    ‘Alohilani Resort Waikiki Beach            C$322
10  10                                 Park Shore Waikiki            C$190
11  11                          Hyatt Place Waikiki Beach            C$232
12  12                              Coconut Waikiki Hotel            C$213
13  13                                         Aqua Oasis            C$185
14  14                        Hyatt Centric Waikiki Beach            C$264
15  15                Outrigger Reef Waikiki Beach Resort            C$264
16  16  Moana Surfrider, A Westin Resort & Spa, Waikik...            C$393
17  17                     The Surfjack Hotel & Swim Club            C$247
18  18        Embassy Suites by Hilton Waikiki Beach Walk            C$401
19  19                               Waikiki Resort Hotel            C$178
20  20                   Waikiki Beachcomber by Outrigger            C$290
21  21                                  Royal Grove Hotel            C$131
22  22                       Luana Waikiki Hotel & Suites            C$237
23  23                       Ilikai Hotel & Luxury Suites            C$321
24  24                  The New Otani Kaimana Beach Hotel            C$297
25  25                    Hilton Garden Inn Waikiki Beach            C$231
26  26                     Lotus Honolulu at Diamond Head            C$207
27  27                                   Sheraton Waikiki            C$573
28  28                          The Kahala Hotel & Resort            C$664
29  29                  Trump International Hotel Waikiki            C$528
..  ..                                                ...              ...
0    0                                    Hicraft Kitchen    4 star rating
1    1                                     Duke’s Waikiki  4.5 star rating
2    2                                      Marukame Udon  4.5 star rating
3    3                                        Ono Seafood  4.5 star rating
4    4                             Helena’s Hawaiian Food    4 star rating
5    5                                  Tikis Grill & Bar    4 star rating
6    6                                 Hula Grill Waikiki  4.5 star rating
7    7                                    The Surfing Pig  4.5 star rating
8    8                              Tonkatsu Ginza Bairin    4 star rating
9    9                                 The Pig & The Lady  4.5 star rating
10  10                                      Roy’s Waikiki    4 star rating
11  11                                     Nico’s Pier 38  4.5 star rating
12  12                                  Tonkatsu Tamafuji    4 star rating
13  13                               Kona Brewing Company  4.5 star rating
14  14                                        Steak Shack    4 star rating
15  15                                          Cafe Asia  4.5 star rating
16  16                                        Lucky Belly  4.5 star rating
17  17                                Musubi Cafe Iyasume  4.5 star rating
18  18                                   Roy’s Hawaii Kai  4.5 star rating
19  19                           Paia Fish Market Waikiki    4 star rating
20  20                                      Haleiwa Joe’s    4 star rating
21  21                                    Side Street Inn    4 star rating
22  22                                       Moku Kitchen  4.5 star rating
23  23    Tommy Bahama Restaurant | Bar | Store - Waikiki  4.5 star rating
24  24                     Off The Wall Craft Beer & Wine    4 star rating
25  25                        Uncle Bo’s Pupu Bar & Grill  4.5 star rating
26  26                                   Home Bar & Grill    4 star rating
27  27                                        Aloha Table    4 star rating
28  28                     Raising Cane’s Chicken Fingers    4 star rating
29  29                                       Piggy Smalls  4.5 star rating

[81 rows x 3 columns]

In [11]:
import mysql.connector

# Setup MySQL connection
db = mysql.connector.connect(
    host="<IP>",              # your host, usually localhost
    user="<USER>",            # your username
    password="<PASS>",        # your password
    database="<DATABASE>"     # name of the data base
)   

# You must create a Cursor object. It will let you execute all the queries you need
cur = db.cursor()

# Use all the SQL you like
cur.execute("SELECT * FROM <TABLE>")

# Put it all to a data frame
sql_data = pd.DataFrame(cur.fetchall())
sql_data.columns = cur.column_names

# Close the session
db.close()

# Show the data
print(sql_data.head())

ModuleNotFoundError: No module named 'mysql'